<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>599438836579-bc5r4ls9jnvid1o201aopmf5istk2npg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.599438836579-bc5r4ls9jnvid1o201aopmf5istk2npg</string>
	<key>API_KEY</key>
	<string>AIzaSyCNRruQjVTuYB4vJFt2cZvZmxtil_8O1I0</string>
	<key>GCM_SENDER_ID</key>
	<string>599438836579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.clapSwiftCompany.clap</string>
	<key>PROJECT_ID</key>
	<string>clap-b855d</string>
	<key>STORAGE_BUCKET</key>
	<string>clap-b855d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:599438836579:ios:358a7b29d0036511</string>
	<key>DATABASE_URL</key>
	<string>https://clap-b855d.firebaseio.com</string>
</dict>
</plist>
